<div class="container" ng-controller="JojsPersonController as $ctrl">
    <div class="page-header">
        <h1>Person</h1>
    </div>

    <p class="lead">
        Details for one person
    </p>

    <div class="btn-group" uib-dropdown ng-cloak>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.edit()">Edit</button>
        <button type="button" class="btn btn-primary" uib-dropdown-toggle>
            <span class="caret"></span>
            <span class="sr-only">Edit</span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li role="menuitem"><a ng-click="$ctrl.edit()">Edit</a></li>
            <li role="menuitem"><a ng-click="$ctrl.delete()">delete</a></li>
        </ul>
    </div>

    <div ng-cloak>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Address</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{person.firstName}}</td>
                <td>{{person.lastName}}</td>
                <td><a href="#!/addresses{{company.address.id}}">{{company.address.city}}</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>